// Colors
// here we define the main colors

// hover color for buttons
$darkblue: #0000ff;

// button, slider, pricetag, select border, contact buttons color
// lataa lisaa:hover <a>
$blue: #5f5db9;

// not in use
$darkgreen: #678d11;

// not in use
$green: #118d11;

// auto blurb <p> <h1>
$black: #000000;

// background for cards button text
$white: #ffffff;

//filter container background
$grey: #7c7c7c;

// Other

$fontsize: 18px;
$sectionpadding: 50px 50px;
$font: "Open Sans", Sans-serif;
$shadow: 0px 0px 10px rgba($black, 0.2);

// Single car page

.single-car {
	padding: 30px;
	font-size: $fontsize;
	font-family: $font;
	line-height: 1.4;

	@media (min-width: 576px) {
		padding: $sectionpadding;
	}
	.single-car-content {
		display: block;
		width: 100%;
		color: $black;		

		.car-section {
			max-width: 1024px;	
			margin: 0 auto 65px auto;	

			&.nomargin {
				margin-bottom: 0;
			}	

			&.car-split-section {
				@media (min-width: 1600px) {
					max-width: 1500px;
					display: flex;
					flex-wrap: wrap;

					.split-section {
						position: relative;

						&.left-section {
							width: 65%;
						}

						&.right-section {
							width: 35%;
							display: flex;
						}
					}
				}
			}

			// Back to link

			.car-back-to {
				display: table;
				color: $darkblue;
				text-decoration: none;

				&:hover {
					color: $darkblue;
					text-decoration: underline;
				}
			}			

			// Slider

			.car-slider {

				.slick-slide {
					z-index: 1;
					position: relative;

					.inner {
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						// min-height: 300px;
						padding-bottom: 66.66%;
					}

					a {
						z-index: 2;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						cursor: zoom-in;
					}
				}
				.slick-arrow {
					overflow: hidden;
				    display: flex;
				    align-items: center;
				    justify-content: center;					
					z-index: 3;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 30px;
					height: 30px;
					margin: 0;
					padding: 0;
					color: $white;
					border-color: $white;
					border-width: 1px;
	    			border-style: double;				
					outline: none;
					box-shadow: none;
					font-size: $fontsize;
					font-weight: normal;
					line-height: normal;
					background-color: transparent;

					@media (min-width: 576px) {
						width: 50px;
						height: 50px;
						font-size: calc(#{$fontsize} * 1.33);
					}

					&:hover {
						background-color: $white;
						color: $darkblue;
						cursor: pointer;
					}

					&:focus {
						background-color: transparent;
						color: $white;
					}

					&.slick-prev {
						left: 5px;
					}
					&.slick-next {
						right: 5px;
					}
				}
			}

			.car-ingress {
				//@media (min-width: 1600px) {
					flex: 1;
					margin-top: 0;
					background-color: $white;
					border-radius: 0;
					box-shadow: $shadow;
					padding: 20px 30px;

					// margin-top: 50px;
					// margin-left: 50px;
					// padding: 30px;
					// border-radius: 15px;
					
				//}				

				h2 {
					margin: 0;
					color: $darkblue;
				}

				hr {
					margin: 25px 0;
				}

				.price {
					margin-top: 35px;
					margin-bottom: 0;
					font-size: calc(#{$fontsize} * 2);
				}

				div {
					&.car-cta {
						padding: 40px 25px;
						margin: 50px 0 0 0;
						border-radius: 15px;
						background: $darkblue;
						color: $white;
						text-align: center;

						h3, h4 {
							margin: 0 0 35px 0;

							a {
								color: $white;
								text-decoration: none;

								&:hover {
									text-decoration: underline;
								}

								&:focus {
									color: $white;
								}
							}
						}

						.links {
							display: table;
							margin: 0 auto 30px auto;
							text-align: left;

							a {
								display: table;
								margin: 0 0 15px 0;
								transition: all 0.33s ease;
								color: $white;
								text-decoration: none;
								font-size: calc(#{$fontsize} * 1.2);

								&:hover {
									color: $white;
									text-decoration: underline;
								}

								i {
									margin-right: 15px;
								}
							}
						}

						.contact-link {
							transition: all 0.33s ease;
							display: table;
							margin: 0 auto;
							padding: 15px 25px;
							border-radius: 15px;
							border: 2px solid $white;
							background-color: $darkblue;
							color: $white;
							font-size: $fontsize;
							letter-spacing: 1.5px;
							text-decoration: none;

							&:hover {
								text-decoration: none;
								background-color: $white;
								color: $darkblue;
							}
						}
					}
				}

	
			} 


		}

		.car-table {
			width: 100%;
		    border-spacing: 0;
		    border-collapse: collapse;

			th, td {
				font-size: $fontsize;
			    padding: 15px;
			    line-height: 1.5;
			    vertical-align: top;
			    border: 1px solid #ccc;				
			}

			tr:nth-child(odd)>td {
			    background-color: #f8f8f8;
			}
		}

	}

}

// ALM

.page-template-page-cars,
.page-template-page-vaihtoautot {

	// Filters

	.filter-section {
		display: none; 

		@media (min-width: 768px) {
			display: block;
		}
	}

	#show-filters {
		display: table;
		min-width: 250px;
		transition: all 0.33s ease;
		background-color: transparent;
		border: 1px solid $blue;
		border-radius: 15px;
		padding: 15px 30px;
		color: $blue;
		font-weight: bold;
		text-align: center;
		margin: 0 auto;
		letter-spacing: 1px;
		text-decoration: none;

		@media (min-width: 768px) {
			display: none;
		}		

		&:after {
			content: "\f078";
			margin-left: 10px;
			font-family: "Font Awesome 5 Free";
		}

		&:hover {
			background-color: $blue;
			color: $white;
			text-decoration: none;
		}	
	}

	#clear-filters {
		display: none;
		margin: 25px auto 0 auto;
		color: $blue;
		font-weight: bold;
		text-align: center;		
		text-decoration: none;
	}	

	.alm-filters-container {
		display: block;
		background-color: rgba($grey, 0.1);
		box-shadow: $shadow;
		border-radius: 15px;
		padding: 15px;
		margin: 0 15px;
		text-align: center;

		@media (min-width: 768px) {		
			padding: 15px 25px;
			text-align: left;
		}	

		* {
			font-size: calc(#{$fontsize} * 0.9) !important;
		}

		.alm-filter {
			margin: 0;
			padding: 15px 15px 0 15px;

			@media (min-width: 768px) {	
				display: inline-block;
				width: auto;
			}			

			&.clear {
				margin: 0;
				padding: 0;
				width: 1px;
				height: 1px;
				display: block;
				opacity: 0;
			}

			&.year, &.km { 
				// padding: 15px 30px;
				width: 100%;

				@media (min-width: 768px) {
					width: calc(50% - 10px);

					&.year {
						margin-right: 20px;
					}

					label {
						text-align: left !important;
					}							
				}

				@media (min-width: 1200px) {
					width: calc(33.333% - 25px);
					margin-right: 50px;								
				}

				label {
					margin: 15px 0 20px 0;
					text-align: center;
				}					

				.alm-range-reset {
					display: none !important;
				}

				.alm-range-slider--label {
					margin: 0;
				    display: block;
				    width: 100%;					
					color: rgba($grey, 0.1);

					.alm-range-start {
						color: $black;
						float: left;
					}

					.alm-range-end {
						color: $black;
						float: right;
					}
				}						

				&.km {
					.alm-range-start,
					.alm-range-end {
						&:after {
							content: ' km';
						}
					}					
				}		

				.noUi-base {
					.noUi-connect {
						background-color: $blue;
					}
					.noUi-handle {
						border-radius: 50%;
						width: 25px;
						height: 25px;

						&:before, &:after {
							display: none;
						}
					}
				}

			}

			&.order, &.orderby {
				text-align: left;
			}

			.alm-filter--inner {
				padding: 0;
			}

			.alm-filter--title {
				margin: 15px 0 20px 0;

				> * {
					margin: 0;
				}
			}

			.alm-filter--select {
				display: block;
				width: 100%;

				select {
					position: relative;
					padding: 8px 20px;
					outline: none;
					border-color: $blue;
					border-width: 2px;
					width: 100%;
					border-radius: 10px;
					// appearance: none;	

					&:disabled {
						border-color: rgba($blue, 0.5);
					}

					@media (min-width: 768px) {
						width: 165px;
					}						
				}
			}

			.alm-filter--radio {
				.field-radio {
					&.active {
						&:before {
							background-color: $blue;
							border-color: $blue;
						}
					}
				}
			}

		}
	}

	// Listing

	.ajax-load-more-wrap {
		margin-top: 50px;
	    font-weight: bold;
	    font-size: $fontsize;		
	}

	.alm-reveal {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		> * {
			font-size: $fontsize;
		}
	}

	.alm-listing {
		text-align: center;

		> * {
			text-align: left;
		}
	}

	.alm-load-more-btn {
		margin-top: 50px !important;
		height: auto !important;
		padding: 20px 45px !important;
		font-size: calc(#{$fontsize} * 1.2) !important;
		background-color: $darkblue !important; 
		letter-spacing: 1.5px !important;
		font-weight: bold !important;

		&:hover {
			cursor: pointer !important;
			background-color: $blue !important; 
		}

		&.done {
			&:hover {
				background-color: $darkblue !important; 
				cursor: default !important;
			}
		}

		&:before {
			display: none !important;
		}
	}	

}

// Car listing

.carslist {
	padding: 15px;
	font-family: $font;
	line-height: 1.4;

	@media (min-width: 576px) {
		padding: $sectionpadding;
	}

	// Listing

	.listing-title {
		margin: 25px auto 50px auto;
		text-align: center;
		color: $darkblue;
		font-size: calc(#{$fontsize} * 1.8);

		@media (min-width: 576px) {
			margin: 0 auto 50px auto;
		}
	}

	.car-listing {
		display: block;
		margin: 0 auto;
		max-width: 1600px;
		width: 100%;
		color: $black;
	}
}

// Single car card

article > .car-card {
	width: 100% !important;
	height: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.car-card {
	font-family: $font;
	font-size: $fontsize;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 15px;
	background-color: $white;
	color: $black;
	font-weight: normal;

	@media (min-width: 768px) {
		width: calc(50% - 30px);
	}			

	@media (min-width: 1200px) {
		width: calc(33.3333% - 30px);
	}

	.inner {
		height: 100%;
		box-shadow: $shadow;
		border-radius: 15px;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		.cover {
			position: relative;
			transition: all 0.33s ease;
			// height: 300px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			padding-bottom: 66.66%;

			&:hover {
				filter: brightness(115%);
			}

			.price {
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 15px;
				background-color: $blue;
				color: $white;
				letter-spacing: 1.5px;
				border-radius: 15px 0 0 0;
			}					
		}

		.text {
			flex: 1;
			padding: 25px 25px 15px 25px;
			display: flex;
			flex-direction: column;

			hr {
				margin: 25px 0;
			}

			.model {
				flex: 1;
				font-size: calc(#{$fontsize} * 1.1);
				font-weight: bold;
				color: $blue;
				margin: 0;

				a {
					text-decoration: none;
					color: $blue;

					&:hover {
						text-decoration: underline;
					}
				}

				.definition {
					font-size: $fontsize;
					color: $black;
					font-weight: normal;
				}
			}

			.specs {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.spec {
					margin-bottom: 10px;
					width: 100%;

					@media (min-width: 992px) {
						width: 50%;
					}

					@media (min-width: 1200px) {
						width: 100%;
					}							

					@media (min-width: 1400px) {
						width: 50%;
					}

					svg, span {
						margin: 0 10px 0 0;
						display: inline-block;
						vertical-align: middle;									
					}

					svg {
						height: 20px;
						width: auto;						
					}
				}
			}
		}

		.call {
			padding: 15px 5px 20px 5px;
			text-align: center;
		}

		.read-more {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			text-align: center;
			font-weight: bold;					

			.cta {
				transition: all 0.33s ease;
				padding: 15px 25px;
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				background-color: $blue;
				color: $white;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-size: calc(#{$fontsize} * 0.9);
				text-decoration: none;

				&:hover {
					background-color: $darkblue;
					text-decoration: none;
				}

				&.green {
					background-color: $green;

					&:hover {
						background-color: $darkgreen;
						text-decoration: none;
					}							
				}
			}
		}

		// Whatsapp shortcode & phone link
		#qlwapp {
			display: inline-block;
			vertical-align: middle;
			width: 45px;
			height: 45px;
		}

		.phonelink-wrap {
			display: inline-block;	
			vertical-align: middle;		
		}

		#qlwapp .qlwapp-toggle,
		.phonelink { 
			transition: all 0.33s ease;
			margin: 0 15px;
			width: 45px;
			height: 45px;
			background-color: $blue;
			border-radius: 50%;
			font-size: calc(#{$fontsize} * 1.4);
			display: flex;
    		align-items: center;
   			justify-content: center;
   			text-decoration: none;

			i {
				color: $white;
				line-height: normal;
			}

			&:hover {
				background-color: $darkblue;
				text-decoration: none;
			}
		}
		
	}
}